/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html, body {
    touch-action: manipulation;
}

meta[name="viewport"] {
    content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Open Sans', sans-serif;
}

:root {
    /* ===== Colors ===== */
    --background-color: #181818;
    --primary-color: #3a31d8;
    --secondary-color: #020024;
    --accent-color: #0600c2;
    --text-color: #ebe9fc;
    --text-label-color: #6c7073;

    --background-nav-color: rgba(24,24,24,0.5);
    --border-nav-color: 1px solid rgba(24,24,24,0.25);

    --widget-color: #252525;
    --hover-widget-color: #333333;

    --widget-sblc-one-color: #141414;
    --widget-sblc-two-color: #212121;

    /* ====== Transition ====== */
    --tran-01: all 0.3s ease;
}

body {
    min-height: 100vh;
    background-color: var(--background-color);
    transition: var(--tran-01);
}

.message-container {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.success-message {
    display: none;
    color: #155724;
    background-color: #d4edda;
    border: 2px solid #c3e6cb;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.error-message {
    display: none;
    color: #721c24;
    background-color: #f8d7da;
    border: 2px solid #f5c6cb;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cloud-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.cloud-header {
    height: 60px;
    background: var(--background-nav-color);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border: var(--border-nav-color);
    flex-shrink: 0;
    width: 100%;
    padding: 10px;
}

.cloud-content {
    display: flex;
    flex-grow: 1;
    height: calc(100vh - 60px);
}

.cloud-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 280px;
    background: var(--background-color);
    flex-shrink: 0;
    height: 100%;
    padding-top: 10px;
}

.main-container {
    flex-grow: 1;
    background: var(--background-color);
    padding: 20px;
    overflow-y: auto;
}

.box-option-one-header {
    display: flex;
    align-items: center;
    user-select: none;
}

.cloud-logo img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    pointer-events: none;
}

.cloud-name {
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: var(--text-color);
}

.nav-item {
    margin-bottom: 10px;
    user-select: none;
}

.nav-item:last-of-type {
    margin-top: auto;
}

.nav-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: calc(100% - 20px);
    padding: 10px 10px;
    border: none;
    background: var(--background-color);
    color: var(--text-color);
    cursor: pointer;
    transition: var(--tran-01);
    border-radius: 10px;
    margin: 0 15px;
}

.nav-button.active {
    background-color: var(--hover-widget-color);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.nav-button:hover {
    background-color: var(--hover-widget-color);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.nav-button i {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 12px;
}

.nav-button span {
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
}

.icon-home {
    background-image: url('../../assets/images/icon/home_outlined_icon.svg');
}

.icon-block-list {
    background-image: url('../../assets/images/icon/block_outlined_icon.svg');
}

.icon-settings {
    background-image: url('../../assets/images/icon/setting_outlined_icon.svg');
}

.icon-logout {
    background-image: url('../../assets/images/icon/sign_out_outlined_icon.svg');
}

.nav-button.active span {
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
}

.nav-button.active .icon-home {
    background-image: url('../../assets/images/icon/home_filled_icon.svg');
}

.nav-button.active .icon-block-list {
    background-image: url('../../assets/images/icon/block_filled_icon.svg');
}

.nav-button.active .icon-settings {
    background-image: url('../../assets/images/icon/setting_filled_icon.svg');
}

.nav-button.active .icon-logout {
    background-image: url('../../assets/images/icon/sign_out_filled_icon.svg');
}

@media screen and (max-width: 1035px) {
    .cloud-nav {
        width: 60px;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .nav-button {
        justify-content: center;
        padding: 10px;
        margin: 0 auto;
    }

    .nav-button span {
        display: none;
    }

    .nav-button i {
        margin-right: 0;
    }

    .main-container {
        padding: 10px;
    }
}

.section {
    display: none;
    width: 100%;
    height: 100%;
    background: var(--background-color);
}

.home_section.active,
.block_list_section.active,
.setting-section.active {
    display: flex;
}

.home_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 772px;
    height: 100%;
}

.home-message-container {
    display: none;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 20px);
    height: 145px;
    background: var(--widget-color);
    border-radius: 16px;
    margin: 10px 10px;
}

.header_content_hmc {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    user-select: none;
    pointer-events: none;
}

.header_content_hmc img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    user-select: none;
    pointer-events: none;
}

.profile_logo {
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 60px;
    height: 60px;
    background: var(--widget-color);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    user-select: none;
    pointer-events: none;
}

.profile_logo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    user-select: none;
    pointer-events: none;
}

.up-details {
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 70px;
    color: #fff;
}

.up-details span {
    font-size: 14px;
}

.up-content {
    width: 100%;
    text-align: left;
    padding: 10px;
    box-sizing: border-box;
}

.up-message-more-details {
    color: var(--text-color);
    font-size: 16px;
    margin: 0;
    text-decoration: none;
    user-select: none;
}

.up-message-more-details:hover {
    text-decoration: underline;
}

.welcome_box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% - 20px);
    height: auto;
    background: var(--widget-color);
    border-radius: 16px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    gap: 10px;
}

.content_wel_box {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    user-select: none;
}

.profile_wel {
    width: 50px;
    height: 50px;
    background: var(--hover-widget-color);
    padding: 5px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile_wel img {
    width: 40px;
    height: 40px;
    user-select: none;
    pointer-events: none;
}

.content_wel_box p {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    line-height: 1.4;
    margin-left: 10px;
}

.home_container .header_content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 10px;
}

.header_options_one_hh {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50%;
    padding: 10px;
    box-sizing: border-box;
    user-select: none;
}

.header_options_one_hh .page-name {
    font-size: 18px;
    font-weight: bold;
}

.header_options_one_hh .page-name span {
    color: var(--text-color);
}

.home-content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    height: auto;
    justify-content: center;
    margin-top: 10px;
}

.options_box_hd {
    /*display: flex;*/
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 300px;
    height: 100px;
    background: var(--widget-color);
    border-radius: 16px;
}

.header_box {
    width: 100%;
    height: 50px;
    padding: 10px;
}

.profile_box {
    width: 50px;
    height: 50px;
    background: var(--hover-widget-color);
    border-radius: 16px;
}

.block_list_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 772px;
    height: 100%;
}

.header_content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.header_options_one {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50%;
    padding: 10px;
    box-sizing: border-box;
    user-select: none;
}

.page-name {
    font-size: 18px;
    font-weight: bold;
}

.page-name span {
    color: var(--text-color);
}

.page-options {
    display: flex;
    align-items: center;
}

.osb_button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 5px 10px;
    border: none;
    background: var(--background-color);
    color: var(--text-color);
    cursor: pointer;
    transition: var(--tran-01);
    border-radius: 10px;
    margin: 0 0 0 15px;
}

.osb_button.active {
    background-color: var(--hover-widget-color);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.osb_button:hover {
    background-color: var(--hover-widget-color);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.osb_button i {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 5px;
}

.osb_button span {
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
}

.icon-add {
    background-image: url('../../assets/images/icon/add_outlined_icon.svg');
}

.header_options_two {
    width: 100%;
    height: auto;
}

.osb_search {
    border: 2px solid transparent;
    width: 100%;
    height: 35px;
    padding-left: 10px;
    outline: none;
    overflow: hidden;
    background-color: #010104;
    border-radius: 10px;
    transition: all 0.5s;
    margin-top: 5px;
}

.osb_search:focus {
    border: 2px solid #4a9dec;
    box-shadow: 0px 0px 0px 6px rgb(74, 157, 236, 20%);
    background-color: #010104;
    color: var(--text-color);
}

.main_content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    height: auto;
    justify-content: center;
    margin-top: 10px;
}

.blocked-entry {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.be-header-content {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    background: var(--widget-sblc-one-color);
    border-radius: 10px 10px 0 0;
    padding: 10px;
    box-sizing: border-box;
    user-select: none;
}

.entry-profile {
    width: 40px;
    height: 40px;
    background: var(--widget-color);
    border-radius: 10px;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    margin-right: 10px;
}

.entry-title {
    width: auto;
    height: 40px;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
}

.be-options-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 210px;
    background: var(--widget-sblc-two-color);
    border-radius: 0 0 10px 10px;
    padding: 10px;
    box-sizing: border-box;
    user-select: none;
}

.label {
    font-weight: bold;
    color: var(--text-label-color);
    margin-top: 5px;
}

.description {
    width: 100%;
    height: 100%;
    max-height: 50px;
    color: var(--text-color);
    font-size: 16px;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.address {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    max-height: 30px;
    background: var(--widget-color);
    color: var(--text-color);
    margin-top: 5px;
    border-radius: 10px;
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.option-entry-box {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
}

.be-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 5px 10px;
    border: none;
    background: var(--widget-color);
    color: var(--text-color);
    cursor: pointer;
    transition: var(--tran-01);
    border-radius: 10px;
}

.be-button.active {
    background-color: var(--hover-widget-color);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.be-button:hover {
    background-color: var(--hover-widget-color);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.be-button i {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 5px;
}

.be-button span {
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
}

.icon-edit {
    background-image: url('../../assets/images/icon/edit_outlined_icon.svg');
}

.icon-delete {
    background-image: url('../../assets/images/icon/delete_outlined_icon.svg');
}

.block-entry-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--background-nav-color);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border: 1px solid var(--border-nav-color);
    z-index: 1;
    box-sizing: border-box;
}

.new-entry-layout,
.edit-entry-layout {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 772px;
    height: 500px;
    background: var(--widget-color);
    border-radius: 24px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.new-entry-layout.active,
.edit-entry-layout.active {
    display: flex;
}

.nb-header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    padding: 0 20px;
    user-select: none;
    box-sizing: border-box;
}

.title-nbh {
    display: flex;
    align-items: center;
    height: 40px;
}

.title-nbh span {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 600;
}

.options-nbh {
    display: flex;
    align-items: center;
    height: 40px;
}

.button-back-nb {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    border: none;
    background: var(--widget-color);
    color: var(--text-color);
    cursor: pointer;
    transition: var(--tran-01);
    border-radius: 10px;
}

.button-back-nb:hover {
    background-color: var(--hover-widget-color);
}

.button-back-nb i {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
}

.button-back-nb span {
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    margin-left: 10px;
}

.icon-chevron-right {
    background-image: url('../../assets/images/icon/chevron-right_filled_icon.svg');
    background-size: contain;
}

.form-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.form-label {
    font-weight: bold;
    color: var(--text-label-color);
    margin-top: 10px;
    font-size: 16px;
}

.form-label .required {
    color: red;
    margin-left: 5px;
}

.form-input {
    margin-top: 5px;
}

.input-field {
    border: 2px solid transparent;
    width: 100%;
    height: 35px;
    padding-left: 10px;
    outline: none;
    background-color: #010104;
    border-radius: 10px;
    transition: all 0.5s ease;
    margin-top: 5px;
    color: var(--text-color);
    box-sizing: border-box;
}

.input-field:focus {
    border: 2px solid #4a9dec;
    box-shadow: 0px 0px 0px 6px rgba(74, 157, 236, 0.2);
    background-color: #010104;
}

.options-content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: auto;
    padding: 10px;
    border-top: 1px solid var(--border-color);
    gap: 10px;
}

.button-nboc {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    border: none;
    background: var(--widget-color);
    color: var(--text-color);
    cursor: pointer;
    transition: var(--tran-01);
    border-radius: 10px;
}

.button-nboc:hover {
    background-color: var(--hover-widget-color);
}

.button-nboc span {
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
}

.setting-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 772px;
    height: 100%;
}

.setting-content .header_content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 10px;
}

.setting-content .header_content .page-name {
    font-size: 18px;
    font-weight: bold;
    user-select: none;
}

.setting-content .main_content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    height: auto;
    justify-content: center;
    margin-top: 10px;
}

.setting-content .main_content .setting_options_box {
    width: 100%;
    height: auto;
    background: var(--widget-color);
    border-radius: 16px;
    margin: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.setting-content .main_content .setting_options_box .option_header {
    width: 100%;
    padding: 10px;
}

.setting-content .main_content .setting_options_box .option_header span {
    color: var(--text-color);
    font-size: 18px;
    user-select: none;
}

.setting-content .main_content .setting_options_box .option_content {
    width: 100%;
    height: auto;
    padding: 10px;
}

.options_bottom_content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: auto;
    padding: 10px;
    gap: 10px;
}

.input-field-setting-up {
    border: 2px solid transparent;
    width: calc(100% - 10px);
    height: 35px;
    padding-left: 10px;
    outline: none;
    background-color: #010104;
    border-radius: 10px;
    transition: all 0.5s ease;
    margin: 5px 5px;
    color: var(--text-color);
    box-sizing: border-box;
}

.input-field-setting-up:focus {
    border: 2px solid #4a9dec;
    box-shadow: 0px 0px 0px 6px rgba(74, 157, 236, 0.2);
    background-color: #010104;
}

.button_apply {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    border: none;
    background: var(--widget-color);
    color: var(--text-color);
    cursor: pointer;
    transition: var(--tran-01);
    border-radius: 10px;
}

.button_apply:hover {
    background-color: var(--hover-widget-color);
}

.button_apply span {
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
}
